
*.dll
*.pdb
ImageLibrary\obj\
ImageLibrary\Bin\
ImageTracker\obj\
ImageTracker\Bin\
ModelLibrary\obj\
ModelLibrary\Bin\

/ImageLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ImageLibrary/obj/Debug/ImageLibrary.csproj.FileListAbsolute.txt
/ImageTracker/Bin/Debug/.gitignore
/ImageTracker/Bin/Debug/AppManifest.xaml
/ImageTracker/Bin/Debug/ApplicationIcon.png
/ImageTracker/Bin/Debug/Background.png
/ImageTracker/Bin/Debug/ImageTracker.xap
/ImageTracker/Bin/Debug/Microsoft.Phone.Controls.Toolkit.xml
/ImageTracker/Bin/Debug/Microsoft.Phone.Controls.xml
/ImageTracker/Bin/Debug/System.Windows.Interactivity.xml
/ImageTracker/Bin/Debug/WMAppManifest.xml
/ImageTracker/obj/Debug/App.g.cs
/ImageTracker/obj/Debug/App.g.i.cs
/ImageTracker/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/ImageTracker/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ImageTracker/obj/Debug/EditSessionPage.g.cs
/ImageTracker/obj/Debug/EditSessionPage.g.i.cs
/ImageTracker/obj/Debug/ImagePage.g.cs
/ImageTracker/obj/Debug/ImagePage.g.i.cs
/ImageTracker/obj/Debug/ImageTracker.csproj.FileListAbsolute.txt
/ImageTracker/obj/Debug/ImageTracker.g.resources
/ImageTracker/obj/Debug/PanoramaPage.g.cs
/ImageTracker/obj/Debug/PanoramaPage.g.i.cs
/ImageTracker/obj/Debug/ResolveAssemblyReference.cache
/ImageTracker/obj/Debug/XapCacheFile.xml
/ModelLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ModelLibrary/obj/Debug/ModelLibrary.csproj.FileListAbsolute.txt
/ModelLibrary/obj/Debug/ResolveAssemblyReference.cache
/ImageLibrary/obj/Debug/ResolveAssemblyReference.cache
/ImageTracker/obj/Debug/SingleImagePage.g.cs
/ImageTracker/obj/Debug/SingleImagePage.g.i.cs
/ImageTracker/obj/Debug/SettingPage.g.cs
/ImageTracker/obj/Debug/StatisticsPage.g.cs
/ImageTracker/obj/Debug/StatisticsPage.g.i.cs
/ImageTracker/Bin/Debug/Microsoft.Expression.Interactions.xml
/StateStorageLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/StateStorageLibrary/obj/Debug/StateStorageLibrary.csproj.FileListAbsolute.txt
/ImageTracker/obj/Debug/LoginPage.g.cs
/ImageTracker/obj/Debug/SettingsPage.g.cs
/ImageTracker/obj/Debug/SettingsPage.g.i.cs